# Import Required Libraries
Import the necessary libraries, such as pandas, for data manipulation and CSV file creation.

In [5]:
# Import Required Libraries
import pandas as pd  # Importing pandas for data manipulation and CSV file creation

# Define Subject Generation Function
Write a function that generates subject data for a given department_id by copying all subjects from the provided CSV file.

In [6]:
# Function to generate subject data for a given department_id
def generate_subject_data(department_id, source_csv):
    """
    Generates subject data for a specific department_id by copying all subjects from the provided CSV file.
    
    Parameters:
        department_id (int): The department ID for which to generate data.
        source_csv (str): The file path of the source CSV file containing subject data.
    
    Returns:
        pd.DataFrame: A DataFrame containing the generated subject data.
    """
    # Load the source CSV file
    subjects_df = pd.read_csv(source_csv)
    
    # Filter the data for department_id 1 (template data)
    template_subjects = subjects_df[subjects_df['department_id'] == 1].copy()
    
    # Update the department_id for the new department
    template_subjects['department_id'] = department_id
    
    return template_subjects

# Generate Subjects for All Departments
Use a loop to generate subject data for department_ids 2 to 12 by copying all subjects and assigning the respective department_id.

In [7]:
# Generate subjects for department_ids 2 to 12
all_departments_subjects = []  # List to hold all generated data

# Define the source CSV file path
source_csv_path = 'c:\\xampp\\htdocs\\SMS\\sms3_subjects.csv'

# Loop through department_ids 2 to 12 to generate subject data
for department_id in range(2, 13):  # department_ids 2 to 12
    department_subjects = generate_subject_data(department_id, source_csv_path)
    all_departments_subjects.append(department_subjects)

# Combine all generated data into a single DataFrame
all_subjects_df = pd.concat(all_departments_subjects, ignore_index=True)

# Assign incremental IDs starting at 58
all_subjects_df['id'] = range(58, 58 + len(all_subjects_df))

# Display the first few rows of the DataFrame
all_subjects_df.head()

   id subject_code                     subject_name  department_id  year_level
0  58          PE1  Physical Fitness and Gymnastics              2           1
1  59          GE1           Understanding the self              2           1
2  60          GE3           The Contemporary World              2           1
3  61          GE4  Mathematics in the Modern World              2           1
4  62        CC101        Introduction to Computing              2           1

# Save Data to CSV File
Combine all generated data into a single DataFrame and save it to a CSV file named 'generated_subjects.csv'.

In [8]:
# Save the generated data to a CSV file
output_csv_path = 'generated_subjects.csv'
all_subjects_df.to_csv(output_csv_path, index=False)  # Save the DataFrame to a CSV file without the index column