# Import Required Libraries
Import the necessary libraries, such as pandas, for data manipulation and CSV file creation.

In [5]:
# Import Required Libraries
import pandas as pd  # Importing pandas for data manipulation and CSV file creation

# Define Section Data Generation Function
Write a function that generates section data for a given year level, department_id, and section range.

In [6]:
# Function to generate section data for a given year level, department_id, and section range
def generate_section_data(year_level, department_id, start_section, end_section):
    """
    Generates section data for a specific year level and department_id.

    Parameters:
        year_level (int): The year level for which to generate data.
        department_id (int): The department ID for which to generate data.
        start_section (int): The starting section number for the year level.
        end_section (int): The ending section number for the year level.

    Returns:
        list: A list of dictionaries containing section data.
    """
    section_data = []
    for section_number in range(start_section, end_section + 1):
        section_data.append({
            "id": None,  # Placeholder for ID, can be assigned later
            "section_number": str(section_number),
            "year_level": year_level,
            "department_id": department_id,
            "branch": "Main",
            "capacity": 50,
            "semester_id": 1,
            "available": 50
        })
    return section_data

# Generate Data for All Year Levels
Use a loop to generate data for year levels 1 to 4, iterating through department_ids and section ranges.

In [7]:
# Generate data for year levels 1 to 4
all_sections_data = []  # List to hold all generated data

# Define section details
sections = [
    {"year_level": 1, "start_section": 1101, "end_section": 1120},
    {"year_level": 2, "start_section": 2101, "end_section": 2120},
    {"year_level": 3, "start_section": 3101, "end_section": 3120},
    {"year_level": 4, "start_section": 4101, "end_section": 4120}
]

# Loop through year levels and department_ids to generate data
for section in sections:
    for department_id in range(2, 13):  # Assuming department_ids 1 and 12
        section_data = generate_section_data(
            year_level=section["year_level"],
            department_id=department_id,
            start_section=section["start_section"],
            end_section=section["end_section"]
        )
        all_sections_data.extend(section_data)  # Append generated data to the main list

# Convert the data to a DataFrame
sections_df = pd.DataFrame(all_sections_data)

# Assign unique IDs to each row
sections_df["id"] = range(172, 172 + len(sections_df))

# Display the first few rows of the DataFrame
sections_df.head()

,id,section_number,year_level,department_id,branch,capacity,semester_id,available
0,172,1101,1,2,Main,50,1,50
1,173,1102,1,2,Main,50,1,50
2,174,1103,1,2,Main,50,1,50
3,175,1104,1,2,Main,50,1,50
4,176,1105,1,2,Main,50,1,50

# Save Data to CSV File
Combine all generated data into a single DataFrame and save it to a CSV file named 'generated_sections.csv'.

In [8]:
# Save the DataFrame to a CSV file
sections_df.to_csv('generated_sections.csv', index=False)  # Save the DataFrame to a CSV file without the index column