# Import Required Libraries
Import the necessary libraries, such as pandas, for data manipulation and CSV file creation.

In [1]:
# Import Required Libraries
import pandas as pd  # Importing pandas for data manipulation and CSV file creation

# Define Section Data Generation Function
Write a function that generates section data for a given year level, department_id, and section range.

In [2]:
# Function to generate section data for a given year level, department_id, and section range
def generate_section_data(year_level, department_id, start_section, end_section):
    """
    Generates section data for a specific year level and department_id.

    Parameters:
        year_level (int): The year level for which to generate data.
        department_id (int): The department ID for which to generate data.
        start_section (int): The starting section number for the year level.
        end_section (int): The ending section number for the year level.

    Returns:
        list: A list of dictionaries containing section data.
    """
    section_data = []
    for section_number in range(start_section, end_section + 1):
        section_data.append({
            "id": None,  # Placeholder for ID, can be assigned later
            "section_number": str(section_number),
            "year_level": year_level,
            "department_id": department_id,
            "branch": "Main",
            "capacity": 50,
            "semester_id": 2,  # Updated for 2nd semester
            "available": 50
        })
    return section_data

# Generate Data for All Year Levels (2nd Semester)
Use a loop to generate data for year levels 1 to 4, iterating through department_ids and updated section ranges for the 2nd semester.

In [3]:
# Generate data for year levels 1 to 4 (2nd Semester)
all_sections_data = []  # List to hold all generated data

# Define updated section details for the 2nd semester
sections = [
    {"year_level": 1, "start_section": 1201, "end_section": 1220},
    {"year_level": 2, "start_section": 2201, "end_section": 2220},
    {"year_level": 3, "start_section": 3201, "end_section": 3220},
    {"year_level": 4, "start_section": 4201, "end_section": 4220}
]

# Loop through year levels and department_ids to generate data
for section in sections:
    for department_id in range(2, 13):  # Assuming department_ids 1 and 12
        section_data = generate_section_data(
            year_level=section["year_level"],
            department_id=department_id,
            start_section=section["start_section"],
            end_section=section["end_section"]
        )
        all_sections_data.extend(section_data)  # Append generated data to the main list

# Convert the data to a DataFrame
sections_df = pd.DataFrame(all_sections_data)

# Assign unique IDs to each row
sections_df["id"] = range(1052, 1052 + len(sections_df))

# Display the first few rows of the DataFrame
sections_df.head()

,id,section_number,year_level,department_id,branch,capacity,semester_id,available
0,1052,1201,1,2,Main,50,2,50
1,1053,1202,1,2,Main,50,2,50
2,1054,1203,1,2,Main,50,2,50
3,1055,1204,1,2,Main,50,2,50
4,1056,1205,1,2,Main,50,2,50

# Save Data to CSV File
Combine all generated data into a single DataFrame and save it to a CSV file named 'generated_sections_2nd_semester.csv'.

In [4]:
# Save the DataFrame to a CSV file
sections_df.to_csv('generated_sections_2nd_semester.csv', index=False)  # Save the DataFrame to a CSV file without the index column